[package]
name = "zkramp"
version = "0.1.0"
edition = "2023_11"
cairo-version = "2.7.0"
scarb-version = "2.7.0"

[dependencies]
starknet = "2.7.0"
openzeppelin = { git = "https://github.com/openzeppelin/cairo-contracts", tag = "v0.15.0" }

[dev-dependencies]
cairo_test = "2.7.0"
snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry.git", tag = "v0.26.0" }

[tool.fmt]
sort-module-level-items = true

[[target.starknet-contract]]
sierra = true
casm = true
build-external-contracts = ["openzeppelin::presets::ERC20Upgradeable"]

[scripts]
test = "snforge test"
