[package]
name = "zkramp"
version = "0.1.0"
edition = "2023_11"
cairo-version = "2.8.0"
scarb-version = "2.8.0"

[dependencies]
starknet = "2.8.0"
openzeppelin = { git = "https://github.com/openzeppelin/cairo-contracts", tag = "v0.16.0" }

[dev-dependencies]
snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry.git", tag = "v0.27.0" }

[tool.fmt]
max-line-length = 120
sort-module-level-items = true

[[target.starknet-contract]]
sierra = true
casm = true
allowed-libfuncs-list.name = "audited"
build-external-contracts = ["openzeppelin_presets::erc20::ERC20Upgradeable"]

[profile.dev.cairo]
unstable-add-statements-functions-debug-info = true
unstable-add-statements-code-locations-debug-info = true
inlining-strategy= "avoid"

[scripts]
test = "snforge test"
