name: Cairo Contracts

on: [push, pull_request]

permissions: read-all

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Scarb
        uses: software-mansion/setup-scarb@v1

      - name: Check cairo format
        run: scarb fmt --check
        working-directory: contracts

      - name: Build cairo contracts
        run: scarb build
        working-directory: contracts
  
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Scarb
        uses: software-mansion/setup-scarb@v1
      
      - name: Run cairo tests
        run: scarb test 
        working-directory: contracts